extends layout

block content
  h1= title
  p Welcome to #{title}
  p loves cooking
  br
  - var btnType = 'primary'
  - var btnSize = 'lg'
  button(type="button", class="btn btn-danger",onclick="moreClaps()") Press  me
  div(id = "target") Clap for me
  script.
    var clap_count=0;
    
    function moreClaps() {
      clap_count=clap_count+2;
      document.getElementById("target").innerHTML=`Value now ${clap_count}`;
    }